html 
    head 
        title='Planilla PUG'
        link(rel="stylesheet" href="style.css")
    body
        nav
            ul
                li
                    a(href="/")='Formulario'
                li
                    a(href="/productos")='Productos'

        table
            tr
                th='Nombre'
                th='Precio'
                th='Imagen'
            if productos.length > 0
                each prod in productos
                    tr
                        td= prod.title
                        td= prod.price
                        td(scope="row")
                            img(src= prod.thumbnail)
            else
                p='No hay productos cargados'

            