html 
    head 
        title='Planilla PUG'
        link(rel="stylesheet" href="style.css")
    body
        nav(class='navbar navbar-container')
            ul
                li
                    a(href="/")='Formulario'
                li
                    a(href="/productos")='Productos'

        table(class='table-container')
            tr
                th='Nombre'
                th='Precio'
                th='Imagen'
            if productos.length > 0
                each prod in productos
                    tr
                        td= prod.title
                        td= prod.price
                        td(scope="row")
                            img(src= prod.thumbnail)
            else
                p(class='titles-container')='No hay productos cargados'

            